<div class="main-container">

  <h1 class="title">Tiny URL</h1>

  <!-- Create URL Section -->
  <div class="top-section">

    <form [formGroup]="userForm" class="url-form">

      <div class="input-group">

        <input
          type="text"
          formControlName="urlname"
          placeholder="Enter URL to shorten"
          class="url-input"
        />
 @if (urlnameCtrl?.touched && urlnameCtrl?.errors) {
      <div class="error-messages" style="color: red; font-size: 12px;">
        
        <!-- Built-in Validator Messages -->
        @if (urlnameCtrl?.errors?.['required']) {
          <p>url is required.</p>
        }
        @if (urlnameCtrl?.errors?.['maxLength']) {
          <p>url must be at least 240 characters long.</p>
        }

        <!-- Backend / Custom Validator Message -->
        @if (urlnameCtrl?.errors?.['alreadyExists']) {
          <p>This username is already taken.</p>
        }
        
      </div>
    }
        <button
          type="button"
          class="generate-btn"
          (click)="generateUrl()"
        >
          Generate
        </button>

      </div>

      <div class="checkbox-section">

        <input type="checkbox" formControlName="isPrivate" />

        <label>Is Private</label>

      </div>

    </form>

  </div>

  <!-- Result -->
    @if(showErrorMessage){

  <div class="error-result-box">

    <div class="result-left">
        <span>Please enter URL</span>
     
    </div>
  </div>

  }

  @if(generatedShortUrl){

  <div class="result-box">

    <div class="result-left">

      <span class="short-label">Short URL:</span>

      <a (click)="clickNewUrl($event)">
        {{generatedShortUrl}}
      </a>

    </div>

    <button
      class="copy-btn"
      (click)="copyShortUrl(generatedShortUrl)"
    >
      Copy
    </button>

  </div>

  }

  <!-- Search -->

  <div class="search-section">

    <input
      type="text"
      [(ngModel)]="searchText"
      (keyup)="searchUrls()"
      placeholder="Search URLs..."
      class="search-input"
    />

  </div>

  <!-- Grid -->

  <div class="url-grid">

    @for(item of tinyUrls; track item.Id){

    <div class="url-card">

      <div class="card-header">

        <a
          class="short-url"
          (click)="updateClick(item,$event)"
        >
          {{item.ShortCode}}
        </a>

        <div class="click-box">

          {{item.Clicks}} Clicks

        </div>

      </div>

      <div class="original-url">

        {{item.OriginalUrl}}

      </div>

      <div class="card-footer">

        <button
          class="copy-btn"
          (click)="copyShortUrl(item.ShortCode)"
        >
          Copy
        </button>

        <button
          class="delete-btn"
          (click)="deleteUrl(item.Id ?? 0)"
        >
          Delete
        </button>

      </div>

    </div>

    }

  </div>

</div>